<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Mp3Sort>
    <Move value="false" CompleteInitialize="true" SetFocus="false"/>
    <Copy value="true" CompleteInitialize="true" SetFocus="true"/>
    <Mp3 value="true" CompleteInitialize="true" SetFocus="false"/>
    <Aac value="true" CompleteInitialize="true" SetFocus="false"/>
    <Flac value="false" CompleteInitialize="true" SetFocus="false"/>
    <CreateExtensionDirectory value="true" CompleteInitialize="true" SetFocus="false"/>
    <ConfirmOverWrite value="true" CompleteInitialize="true" SetFocus="false"/>
    <Directory value="" CompleteInitialize="true" SetFocus="false"/>
    <Log value="true" CompleteInitialize="true" SetFocus="false"/>
    <Progress value="true" CompleteInitialize="true" SetFocus="false"/>
  </Mp3Sort>
</configuration>
